{% extends "base.html" %}

{% block title %}Секретная страница{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Секретная страница</h3>
            </div>
            <div class="card-body text-center">
                <p class="lead">Добро пожаловать на секретную страницу, {{ current_user.username }}!</p>
                <p>Эта страница доступна только аутентифицированным пользователям.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 